# Python
.env
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/staticfiles/

# React
frontend/node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db